@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}



body {
  font-family: "Libertinus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

.card-wrapper {
  @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  height: 150%;
  width: 150%;
  background: conic-gradient(
    rgb(62, 70, 94) 0%,
    rgb(228, 240, 238) 47%,
    transparent 80deg
  );
  animation: border-spin 7s infinite linear;
}

.card-content {
  @apply absolute w-[calc(100%-4px)] h-[calc(100%-4px)]
    top-[2px] left-[2px]
    bg-gradient-to-b from-[#7e5c55] to-[#5a3831]
    rounded-2xl duration-200;
}
